{% extends 'base.html.twig' %}

{% block title %}Hello ClienteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{%include 'menu.html.twig' %}
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/cssAlerts.css" rel="stylesheet" type="text/css">
    {% for message in app.flashes('aviso')%}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Éxito! {{ message }}</strong>
        </div>
     {% endfor %}
<div class="example-wrapper">
    <section class="form-register">
    <h1 style="text-align: center;color:green">Lista {{ controller_name }} <i class="fa-solid fa-users"></i></h1>
    <br>

{% for cliente in todosLosClientes %}
    <div class="controls">
        <div><i class="fa-solid fa-user"></i> Cliente: <a href="{{ path("ver_cliente",{id:cliente.id}) }}">{{ cliente.nombre}} {{ cliente.apellidos }}</a><a href="{{ path("borrar_cliente",{id:cliente.id}) }}" class="botones"> <i class="fa-solid fa-trash" style="color:red;"></i></a></div>
    </div>
{%  endfor %}

<p><a href="{{ path("insertar_cliente2") }}"><i class="fa-solid fa-plus" style="color: green" ></i> Nuevo Cliente</a></p>
 </section>
 

   
</div>
{% endblock %}
